Mikhail Goulding Online Book Club Project 2020/Online Book Club/Online Book Club/Connected Services/BookClubRef/BookClubWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserNameUnique">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserNameUniqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserNameUniqueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityQuestionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnswerSecurityQuestionAttempt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnswerSecurityQuestionAttemptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnswerSecurityQuestionAttemptResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="BookList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BookInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookInfoResult" type="tns:Book" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Book">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISBN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pages" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BookNameUnique">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookNameUniqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookNameUniqueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookISBNUnique">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookisbn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookISBNUniqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookISBNUniqueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isbn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pages" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewBookResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRatingResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserRated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRatedResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AverageRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AverageRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AverageRatingResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserDetailsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserDetailResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="AddNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="UserNameUniqueSoapIn">
    <wsdl:part name="parameters" element="tns:UserNameUnique" />
  </wsdl:message>
  <wsdl:message name="UserNameUniqueSoapOut">
    <wsdl:part name="parameters" element="tns:UserNameUniqueResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:SecurityQuestion" />
  </wsdl:message>
  <wsdl:message name="SecurityQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:SecurityQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="AnswerSecurityQuestionAttemptSoapIn">
    <wsdl:part name="parameters" element="tns:AnswerSecurityQuestionAttempt" />
  </wsdl:message>
  <wsdl:message name="AnswerSecurityQuestionAttemptSoapOut">
    <wsdl:part name="parameters" element="tns:AnswerSecurityQuestionAttemptResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="BookListSoapIn">
    <wsdl:part name="parameters" element="tns:BookList" />
  </wsdl:message>
  <wsdl:message name="BookListSoapOut">
    <wsdl:part name="parameters" element="tns:BookListResponse" />
  </wsdl:message>
  <wsdl:message name="BookInfoSoapIn">
    <wsdl:part name="parameters" element="tns:BookInfo" />
  </wsdl:message>
  <wsdl:message name="BookInfoSoapOut">
    <wsdl:part name="parameters" element="tns:BookInfoResponse" />
  </wsdl:message>
  <wsdl:message name="BookNameUniqueSoapIn">
    <wsdl:part name="parameters" element="tns:BookNameUnique" />
  </wsdl:message>
  <wsdl:message name="BookNameUniqueSoapOut">
    <wsdl:part name="parameters" element="tns:BookNameUniqueResponse" />
  </wsdl:message>
  <wsdl:message name="BookISBNUniqueSoapIn">
    <wsdl:part name="parameters" element="tns:BookISBNUnique" />
  </wsdl:message>
  <wsdl:message name="BookISBNUniqueSoapOut">
    <wsdl:part name="parameters" element="tns:BookISBNUniqueResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewBookSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewBook" />
  </wsdl:message>
  <wsdl:message name="AddNewBookSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewBookResponse" />
  </wsdl:message>
  <wsdl:message name="AddRatingSoapIn">
    <wsdl:part name="parameters" element="tns:AddRating" />
  </wsdl:message>
  <wsdl:message name="AddRatingSoapOut">
    <wsdl:part name="parameters" element="tns:AddRatingResponse" />
  </wsdl:message>
  <wsdl:message name="UserRatedSoapIn">
    <wsdl:part name="parameters" element="tns:UserRated" />
  </wsdl:message>
  <wsdl:message name="UserRatedSoapOut">
    <wsdl:part name="parameters" element="tns:UserRatedResponse" />
  </wsdl:message>
  <wsdl:message name="AverageRatingSoapIn">
    <wsdl:part name="parameters" element="tns:AverageRating" />
  </wsdl:message>
  <wsdl:message name="AverageRatingSoapOut">
    <wsdl:part name="parameters" element="tns:AverageRatingResponse" />
  </wsdl:message>
  <wsdl:message name="UserDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:UserDetails" />
  </wsdl:message>
  <wsdl:message name="UserDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:UserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserDetailSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserDetail" />
  </wsdl:message>
  <wsdl:message name="UpdateUserDetailSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="BookClubWebServiceSoap">
    <wsdl:operation name="AddNewUser">
      <wsdl:input message="tns:AddNewUserSoapIn" />
      <wsdl:output message="tns:AddNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserNameUnique">
      <wsdl:input message="tns:UserNameUniqueSoapIn" />
      <wsdl:output message="tns:UserNameUniqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SecurityQuestion">
      <wsdl:input message="tns:SecurityQuestionSoapIn" />
      <wsdl:output message="tns:SecurityQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnswerSecurityQuestionAttempt">
      <wsdl:input message="tns:AnswerSecurityQuestionAttemptSoapIn" />
      <wsdl:output message="tns:AnswerSecurityQuestionAttemptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookList">
      <wsdl:input message="tns:BookListSoapIn" />
      <wsdl:output message="tns:BookListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookInfo">
      <wsdl:input message="tns:BookInfoSoapIn" />
      <wsdl:output message="tns:BookInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookNameUnique">
      <wsdl:input message="tns:BookNameUniqueSoapIn" />
      <wsdl:output message="tns:BookNameUniqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookISBNUnique">
      <wsdl:input message="tns:BookISBNUniqueSoapIn" />
      <wsdl:output message="tns:BookISBNUniqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewBook">
      <wsdl:input message="tns:AddNewBookSoapIn" />
      <wsdl:output message="tns:AddNewBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <wsdl:input message="tns:AddRatingSoapIn" />
      <wsdl:output message="tns:AddRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRated">
      <wsdl:input message="tns:UserRatedSoapIn" />
      <wsdl:output message="tns:UserRatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AverageRating">
      <wsdl:input message="tns:AverageRatingSoapIn" />
      <wsdl:output message="tns:AverageRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserDetails">
      <wsdl:input message="tns:UserDetailsSoapIn" />
      <wsdl:output message="tns:UserDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetail">
      <wsdl:input message="tns:UpdateUserDetailSoapIn" />
      <wsdl:output message="tns:UpdateUserDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookClubWebServiceSoap" type="tns:BookClubWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewUser">
      <soap:operation soapAction="http://tempuri.org/AddNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNameUnique">
      <soap:operation soapAction="http://tempuri.org/UserNameUnique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityQuestion">
      <soap:operation soapAction="http://tempuri.org/SecurityQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerSecurityQuestionAttempt">
      <soap:operation soapAction="http://tempuri.org/AnswerSecurityQuestionAttempt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookList">
      <soap:operation soapAction="http://tempuri.org/BookList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookInfo">
      <soap:operation soapAction="http://tempuri.org/BookInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookNameUnique">
      <soap:operation soapAction="http://tempuri.org/BookNameUnique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookISBNUnique">
      <soap:operation soapAction="http://tempuri.org/BookISBNUnique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewBook">
      <soap:operation soapAction="http://tempuri.org/AddNewBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <soap:operation soapAction="http://tempuri.org/AddRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRated">
      <soap:operation soapAction="http://tempuri.org/UserRated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AverageRating">
      <soap:operation soapAction="http://tempuri.org/AverageRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDetails">
      <soap:operation soapAction="http://tempuri.org/UserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetail">
      <soap:operation soapAction="http://tempuri.org/UpdateUserDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookClubWebServiceSoap12" type="tns:BookClubWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewUser">
      <soap12:operation soapAction="http://tempuri.org/AddNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNameUnique">
      <soap12:operation soapAction="http://tempuri.org/UserNameUnique" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityQuestion">
      <soap12:operation soapAction="http://tempuri.org/SecurityQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerSecurityQuestionAttempt">
      <soap12:operation soapAction="http://tempuri.org/AnswerSecurityQuestionAttempt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookList">
      <soap12:operation soapAction="http://tempuri.org/BookList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookInfo">
      <soap12:operation soapAction="http://tempuri.org/BookInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookNameUnique">
      <soap12:operation soapAction="http://tempuri.org/BookNameUnique" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookISBNUnique">
      <soap12:operation soapAction="http://tempuri.org/BookISBNUnique" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewBook">
      <soap12:operation soapAction="http://tempuri.org/AddNewBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <soap12:operation soapAction="http://tempuri.org/AddRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRated">
      <soap12:operation soapAction="http://tempuri.org/UserRated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AverageRating">
      <soap12:operation soapAction="http://tempuri.org/AverageRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDetails">
      <soap12:operation soapAction="http://tempuri.org/UserDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetail">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookClubWebService">
    <wsdl:port name="BookClubWebServiceSoap" binding="tns:BookClubWebServiceSoap">
      <soap:address location="https://localhost:44368/BookClubWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookClubWebServiceSoap12" binding="tns:BookClubWebServiceSoap12">
      <soap12:address location="https://localhost:44368/BookClubWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>